

<!-- forms/export.html.twig -->
<form id="export" action="{{site.uri.public}}/api/ufexcel/export" method="post">
  {% include "forms/csrf.html.twig" %}

  <div class="box-body">
<table>
<tr><th>
  Select a format <select name="format">
  <option value="pdf">PDF</option>
  <option value="csv">CSV</option>
  <option value="xlsx">XLSX</option>
</select>
</th></tr>

</table>
<table>
<thead>
<tr><th> Select which columns to include in export</th></tr>
</thead>
  <input type="hidden" name="table" value="{{table}}">
  <input type="hidden" name="model" value="{{model}}">
<tbody>
    {% for column in columns %}
<tr class="uf-collection-row">
<td>
<label>
      <input type="checkbox" class="js-icheck" name="columns[]" value="{{column}}" checked> {{column}}
</label>
</td>
</tr>
  {% endfor %}
</tbody>
<br>
</table>
  <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Download</button>
  </div>
  </div>
</form>
